
<input type="text" [(ngModel)]="name" placeholder="name">
<input type="text" [(ngModel)]="age" placeholder="age">
<input type="button" (click)="postButton()" value="Insert">

<hr>
<input type="text" [(ngModel)]="nameDel">
<input type="text" [(ngModel)]="ageDel">
<input type="button" (click)="deleteButton()" value="Delete">

<hr>
<br>

<input type="text" [(ngModel)]="findname" placeholder="To be updated">
<br>
<input type="text" [(ngModel)]="nameUp" placeholder="name">
<input type="text" [(ngModel)]="ageUp" placeholder="age">

<input type="button" (click)="updateButton()" value="Update">
<hr>
<input type="text" [(ngModel)]="namefind" placeholder="Search Name">
<input type="button" (click)="findButton()" value="find">
<hr>
<input type="button" (click)="findAll()" value="findALL">

<table>
  <th>Name</th>
  <th>Age</th>
  <tr *ngFor='let item of data2'>
    <td>{{item.name}}</td>
     <td>{{item.age}}</td> 
  </tr>

  <hr>
  <tr *ngFor='let item2 of data1'>
    <td>Searched Name</td>
    <td>{{item2.name}}</td>
  </tr>
   <tr *ngFor='let item2 of data1'>
    <td>Searched Age</td>
    <td>{{item2.age}}</td>
  </tr>
</table>

